---

---

<section id='aboutme' class='px-2 py-3 w-full flex'>
  <div class='w-[70%] bg-salmon-light'>
    <h2
      class='tracking-ultra-wide pl-8 pb-4 font-bold text-3xl uppercase text-blue-steel [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-[rgba(97,130,159,0.43)]'
    >
      Conoce un poco más a tu futuro psicólogo
    </h2>
    <p class='text-white'>
      Hola, mi nombre es Carlos Martín, soy psicólogo deportivo y sanitario;
      como profesional, siempre doy gran importancia a la valentía que tienen
      las personas que trabajan conmigo, así como agradezco la confianza que
      depositan en mi, ya sea para gestionar su malestar y/o mejorar su
      rendimiento deportivo.
    </p>
    <p class='text-white'>
      La psicología no es magia, es la ciencia que estudia al comportamiento,
      emociones y pensamiento humano; y nos ayuda en gran medida a mejorar
      nuestro bienestar.
    </p>
    <ul class='text-white'>
      <li>Graduado en Psicología por la UMA</li>
      <li>Máster en Psicología del Deporte y la Actividad Física por la UAM</li>
      <li>Máster en Psicología General Sanitaria por la UEM</li>
      <li>
        Ademas de un gran número de cursos, formaciones y experiencia
        profesional en trastornos de la conducta alimentaria, deporte de alto
        rendimiento y un largo etc.
      </li>
    </ul>
  </div>
</section>
