---

---

<section id='aboutme' class='px-2 py-3 w-full'>
  <h2
    class='tracking-[0.35rem] pr-8 pb-4 font-semibold text-center text-2xl uppercase text-[#f0bc68] [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-[rgba(0,0,0,0.43)]'
  >
    ¿Quién soy?
  </h2>
  <p class="pr-64">
    Hola, mi nombre es Carlos Martín, soy psicólogo deportivo y sanitario; como
    profesional, siempre doy gran importancia a la valentía que tienen las
    personas que trabajan conmigo, así como agradezco la confianza que depositan
    en mi, ya sea para gestionar su malestar y/o mejorar su rendimiento
    deportivo.
  </p>
  <p class='text-right pr-64'>
    La psicología no es magia, es la ciencia que estudia al comportamiento,
    emociones y pensamiento humano; y nos ayuda en gran medida a mejorar nuestro
    bienestar.
  </p>
  <ul class='text-right pr-10'>
    <li>Graduado en Psicología por la UMA</li>
    <li>Máster en Psicología del Deporte y la Actividad Física por la UAM</li>
    <li>Máster en Psicología General Sanitaria por la UEM</li>
    <li>
      Ademas de un gran número de cursos, formaciones y experiencia profesional
      en trastornos de la conducta alimentaria, deporte de alto rendimiento y un
      largo etc.
    </li>
  </ul>
</section>
