---
import Divider from '../divider/Divider.astro';

const faqs = [
  {
    answer: '1 año, desde el pago del bono.',
    question: '¿Cuanto tiempo tengo para gastar mi bono?',
  },
  {
    answer: 'No, simplemente se buscaría una nueva fecha para la sesión.',
    question: '¿Si no puedo acudir a un sesión, se quita del bono?',
  },
  {
    answer:
      'El pago se debe hacer al menos 24 horas antes de la sesión (de la primera sesión, en el caso de los bonos).',
    question: '¿Cuando tengo que realizar el pago?',
  },
  {
    answer:
      'No, el dinero no es reembolsable una vez hecha la transferencia. Sin embargo, cuentas con ventajas como que las sesiones solo se consumen una vez realizadas y no hay penalización por cancelar las sesiones.',
    question: '¿Se realiza devolución?',
  },
  {
    answer:
      'Esto es algo que no se puede concretar, ya que depende de cada caso concreto y de las necesidades del paciente. Sin embargo, al final de la entrevista se dara una orientación sobre como se realizará el proceso, pero sin prometer un número de sesiones determinado.',
    question: '¿Cuanto dura el proceso?',
  },
  {
    answer:
      'No, las sesiones realizadas serán de mutuo acuerdo y siempre se respetará la decisión del paciente; siempre y cuando que se cumplan las condiciones.',
    question: '¿Tengo que hacer las sesiones que me diga el psicólogo?',
  },
];
---

<div class='text-blue-steel -mb-[1px]'>
  <Divider />
</div>
<section
  id='faq'
  class='p-3 py-14 w-full flex flex-col items-center bg-blue-steel md:px-5'
>
  <h2
    class='max-w-7xl tracking-ultra-wide pb-8 font-semibold text-7xl text-center uppercase text-salmon-light [text-shadow:3px_3px_3px_var(--tw-shadow-color)] shadow-[rgb(232,174,163,0.43)]'
  >
    Preguntas frecuentes
  </h2>
  <div class='max-w-7xl flex flex-col text-white text-1.5xl w-3/5'>
    {
      faqs.map((faq) => (
        <div class='py-2'>
          <details class='group'>
            <summary>{faq.question}</summary>
            <p class='pl-5 group-open:animate-fadeIn'>{faq.answer}</p>
          </details>
        </div>
      ))
    }
  </div>
</section>
