---
const faqs = [
  {
    answer: '1 año, desde el pago del bono.',
    question: '¿Cuanto tiempo tengo para gastar mi bono?',
  },
  {
    answer: 'No, simplemente se buscaría una nueva fecha para la sesión.',
    question: '¿Si no puedo acudir a un sesión, se quita del bono?',
  },
  {
    answer: '',
    question: '',
  },
  {
    answer: '',
    question: '',
  },
  {
    answer: '',
    question: '',
  },
  {
    answer: '',
    question: '',
  },
];
---

<section class='w-full'>
  <div class='flex flex-col'>
    <div class='py-5'>
      <details class='group'>
        <summary> Title 1 </summary>
        <p class='group-open:animate-fadeIn'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolorum
          ab ut asperiores labore fuga illo vero maiores atque veniam, adipisci
          consequuntur, voluptate eligendi repellendus et fugit nostrum odio
          voluptates.
        </p>
      </details>
    </div>
    <div class='py-5'>
      <details class='group'>
        <summary> Title 2 </summary>
        <p class='group-open:animate-fadeIn'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolorum
          ab ut asperiores labore fuga illo vero maiores atque veniam, adipisci
          consequuntur, voluptate eligendi repellendus et fugit nostrum odio
          voluptates.
        </p>
      </details>
    </div>
  </div>
</section>
