---

---

<section id='help' class='px-2 py-3 w-full'>
  <h2
    class='tracking-widest pr-8 text-right font-semibold text-2xl uppercase text-[#f0bc68] [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-[rgba(0,0,0,0.43)]'
  >
    ¿Cómo puedo ayudarte?
  </h2>
</section>
