---

---

<section id='help' class='p-3 pb-14 w-full bg-blue-light md:px-2'>
  <h2
    class='tracking-ultra-wide pb-8 text-center font-semibold text-[55px] uppercase text-golden [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-golden md:text-left'
  >
    ¿Cómo puedo ayudarte?
  </h2>
  <div class='w-full flex flex-col font-semibold text-white'>
    <div class='text-2xl font-extralight md:w-[60%] md:pb-16'>
      <p class='leading-10'>
        La terapia psicológica es la <span class='font-semibold underline'
          >mejor herramienta</span
        > que tenemos para <span class='font-semibold underline'>entender</span>
        cómo nos comportamos y por qué lo hacemos. Pero no solo eso, si no que también
        nos permite <span class='font-semibold underline'
          >aprender herramientas</span
        > para <span class='font-semibold underline'>gestionar</span>
        mejor nuestros <span class='font-semibold underline'>pensamientos</span
        >, <span class='font-semibold underline'>emociones</span> y <span
          class='font-semibold underline'>acciones</span
        >.
      </p>
      <p class='pt-9 leading-10'>
        Como <span class='font-semibold underline'>terapeuta</span>, <span
          class='font-semibold underline'>te voy a acompañar en tu proceso</span
        > de cambio. No para decirte lo que tienes que hacer, si no <span
          class='font-semibold underline'>para escucharte</span
        >, <span class='font-semibold underline'
          >orientarte y darte herramientas</span
        > para que seas capaz de sanar tu dolor y gestionar mejor aquellas situaciones
        de tu vida que te presenten dificultad.
      </p>
    </div>
    <div class='text-5xl flex flex-col justify-end items-end max-md:py-5'>
      <span class='text-center md:w-2/5'> Espera! que aún hay más! </span>
    </div>
  </div>
</section>
