---

---

<section id='help' class='px-2 py-3 w-full max-md:bg-blue-light'>
  <h2
    class='tracking-ultra-wide pb-8 text-center font-semibold text-4xl uppercase text-golden [text-shadow:1px_1px_1px_var(--tw-shadow-color)] shadow-golden md:pr-8 md:text-right'
  >
    ¿Cómo puedo ayudarte?
  </h2>
  <div class='w-full flex font-semibold text-white'>
    <div class='w-[70%] pb-12 pr-16 text-lg bg-blue-light'>
      <p>
        La terapia psicológica es la mejor herramienta que tenemos para entender
        cómo nos comportamos y por qué lo hacemos. Pero no solo eso, si no que
        también nos permite aprender herramientas para aprender a gestionar
        mejor nuestros pensamientos, nuestras emociones y nuestras acciones.
      </p>
      <p class='pt-5'>
        Como terapeuta, te voy a acompañar en tu proceso de cambio. No para
        decirte lo que tienes que hacer, si no para escucharte, orientarte y
        darte herramientas para que seas capaz de sanar tu dolor y gestionar
        mejor aquellas situaciones de tu vida que te presenten dificultad.
      </p>
    </div>
    <div class='w-[30%] text-3xl flex flex-col justify-end'>
      <span class='bg-blue-light'>Espera! que aún hay más!</span>
    </div>
  </div>
</section>
