---

---

<section id='help' class='p-3 w-full bg-blue-light md:px-2'>
  <h2
    class='tracking-ultra-wide pb-8 text-center font-semibold text-[55px] uppercase text-golden [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-golden md:text-left'
  >
    ¿Cómo puedo ayudarte?
  </h2>
  <div class='w-full flex flex-col font-semibold text-white md:flex-row'>
    <div class='text-lg font-extralight md:w-[70%] md:pr-16 md:pb-12'>
      <p>
        La terapia psicológica es la mejor herramienta que tenemos para entender
        cómo nos comportamos y por qué lo hacemos. Pero no solo eso, si no que
        también nos permite aprender herramientas para aprender a gestionar
        mejor nuestros pensamientos, nuestras emociones y nuestras acciones.
      </p>
      <p class='pt-5'>
        Como terapeuta, te voy a acompañar en tu proceso de cambio. No para
        decirte lo que tienes que hacer, si no para escucharte, orientarte y
        darte herramientas para que seas capaz de sanar tu dolor y gestionar
        mejor aquellas situaciones de tu vida que te presenten dificultad.
      </p>
    </div>
    <div class='text-3xl flex flex-col justify-end max-md:py-5 md:w-[30%]'>
      <span class='bg-blue-light text-center md:text-left'>
        Espera! que aún hay más!
      </span>
    </div>
  </div>
</section>
