---
import Divider from '../divider/Divider.astro';
---

<div class='text-salmon-light'>
  <Divider />
</div>
<section
  id='interview'
  class='py-14 px-1 w-full bg-salmon-light flex flex-col items-center md:px-7'
>
  <h2
    class='max-w-5.5xl pb-7 text-center font-semibold text-xs uppercase tracking-[0.55rem] text-blue-steel md:text-4.5xl'
  >
    Solicita tu entrevista gratuita
  </h2>
  <div class='w-full flex flex-col text-white max-w-5.5xl'>
    <p class='text-xss text-center font-semibold pb-10 md:px-16 md:text-1.5xl'>
      Para mostrarte la confianza que tengo en mi trabajo, mi servicio de
      terapia ofrece <span class='underline'>
        una sesión inicial gratuita
      </span>. ¿A que suena bien?
    </p>
    <p class='text-xss text-center font-extralight md:px-14 md:text-lg'>
      En la terapia psicológica es muy importante la relación
      terapéuta-paciente; es decir, es
      <span class='font-semibold'>vital que nos caigamos bien</span>, para que
      la terapia sea más efectiva.
    </p>
    <span class='text-xss py-10 font-semibold text-center md:text-2xl'>
      Se que parece increible... !pero es cierto! Te explico como funciona:
    </span>
    <ul class='text-xss w-full font-extralight flex flex-col gap-5 text-center'>
      <li>
        Tendrá una <span class='underline font-semibold'>duración</span> de entre
        30 y 40 minutos.
      </li>
      <li>
        Se hace por <span class='underline font-semibold'>llamada</span> telefónica
        o por <span>videollamada</span>. !No te tienes ni que mover de casa!
      </li>
      <li>
        El <span class='font-semibold'>objetivo</span> principal es que tengas la
        oportunidad de comentarme qué es lo que te preocupa.
      </li>
      <li>
        Además, te daré una
        <span class='underline font-semibold'>orientación inicial</span> sobre como
        podriamos trabajar sobre tu caso concreto.
      </li>
      <li>
        Por suspuesto, tendrás la oportunidad de
        <span class='underline font-semibold'>resolver</span> cualquier
        <span class='underline font-semibold'>duda</span> sobre el proceso terapeutico.
      </li>
      <li>
        Esta entrevista inicial gratuita no tiene
        <span class='underline font-semibold'>
          ningún tipo de compromiso ni obligación
        </span> de trabajo conmigo.
      </li>
      <li>
        Mi objetivo en esta parte es que, si trabajamos juntos, sea porque
        <span class='underline font-semibold'>
          confias en mí como profesional.
        </span>
      </li>
    </ul>
  </div>
</section>
<div class='text-salmon-light'>
  <Divider inverted />
</div>
