---

---

<section
  id='interview'
  class='flex flex-col py-14 w-full items-end md:px-7 bg-salmon-light'
>
  <h2
    class='pb-7 text-center font-semibold text-4xl uppercase tracking-[0.25rem] text-blue-steel md:text-right'
  >
    Solicita tu entrevista gratuita
  </h2>
  <div class='w-full flex flex-col text-white md:items-end'>
    <p class='text-xl text-center font-semibold pb-10 md:w-[75%]'>
      Para mostrarte la confianza que tengo en mi trabajo, mi servicio de
      terapia ofrece <span class='underline'>
        una sesión inicial gratuita.
      </span> ¿A que suena bien?
    </p>
    <p class='text-center font-light text-xl md:w-4/5'>
      En la terapia psicológica es muy importante la relación
      terapéuta-paciente; es decir, es
      <span class='font-semibold'>vital que nos caigamos bien </span>, para que
      la terapia sea más efectiva.
    </p>
    <span class='text-2xl py-14 font-semibold max-md:text-center text-justify'>
      Se que suena increible... !pero es cierto! Te explico como funciona:
    </span>
    <ul class='w-full text-lg font-light flex flex-col gap-5'>
      <li>
        Tendrá una <span class='underline font-semibold'>duración</span> de entre
        30 y 40 minutos.
      </li>
      <li>
        Se hace por <span class='underline font-semibold'>llamada</span> telefónica
        o por <span>videollamada</span>. !No te tienes ni que mover de casa!
      </li>
      <li>
        El <span class='font-semibold'>objetivo</span> principal es que tengas la
        oportunidad de comentarme qué es lo que te preocupa.
      </li>
      <li>
        Además, te daré una
        <span class='underline font-semibold'>orientación inicial</span> sobre como
        podriamos trabajar sobre tu caso concreto.
      </li>
      <li>
        Por suspuesto, tendrás la oportunidad de
        <span class='underline font-semibold'>resolver</span> cualquier
        <span class='underline font-semibold'>duda</span> sobre el proceso terapeutico.
      </li>
      <li>
        Esta entrevista inicial gratuita no tiene
        <span class='underline font-semibold'>
          ningún tipo de compromiso ni obligación
        </span> de trabajo conmigo.
      </li>
      <li>
        Mi objetivo en esta parte es que, si trabajamos juntos, sea porque
        <span class='underline font-semibold'>
          confias en mí como profesional.
        </span>
      </li>
    </ul>
  </div>
</section>

<style></style>
