---

---

<section id='interview' class='flex flex-col px-2 py-3 w-full items-end'>
  <h2
    class='pb-5 text-right font-semibold text-2xl uppercase tracking-[0.25rem] text-blue-steel bg-salmon'
  >
    Solicita tu entrevista gratuita
  </h2>
  <div class='w-[80%] font-semibold flex flex-col items-end text-white'>
    <p class='w-[70%] text-sm bg-salmon'>
      Para mostrarte la confianza que tenemos en nuestro trabajo, nuestro
      servicio de terapia ofrece una sesión inicial gratuita. Suena bien,
      ¿verdad?
    </p>
    <p class='w-[80%] bg-salmon'>
      En la terapia psicológica es muy importante la relación
      terapéuta-paciente; es decir, es importantisimo que nos caigamos bien,
      para que la terapia sea más efectiva.
    </p>
    <span class='w-[90%] text-2xl bg-salmon'>
      Se que suena increible... !pero es cierto! Te explico como
      <br class='hidden lg:block' />
      funciona:
    </span>
    <ul class='w-full py-5 px-9 bg-salmon'>
      <li>Tendrá una duración de entre 30 y 40 minutos.</li>
      <li>
        Se hace por llamada telefónica o por videollamada. !No te tienes ni que
        mover de casa!
      </li>
      <li>
        El objetivo principal es que tengas la oportunidad de comentarme qué es
        lo que te preocupa.
      </li>
      <li>
        Además, te daré una orientación inicial sobre como trabajaremos sobre tu
        caso concreto.
      </li>
      <li>
        Por suspuesto, tendrás la oportunidad de resolver cualquier duda sobre
        el proceso terapeutico.
      </li>
      <li>
        Esta entrevista inicial gratuita no tiene ningún tipo de compromiso ni
        obligación de trabajo conmigo.
      </li>
      <li>
        Mi objetivo es que, si trabajamos juntos sea porque confias en mí como
        profesional.
      </li>
    </ul>
  </div>
</section>

<style></style>
