---

---

<main id='interview' class='border border-green-500 px-2 py-3 w-full'>
  <h2
    class='font-semibold text-2xl uppercase text-[#e8aea3] [text-shadow:1px_1px_1px_var(--tw-shadow-color)] shadow-[#e8aea3]'
  >
    Solicita tu entrevista gratuita
  </h2>
  <div class='bg-[#e8aea3] py-5 px-7'>
    <p>
      Para mostrarte la confianza que tenemos en nuestro trabajo, nuestro
      servicio de terapia ofrece una sesión inicial gratuita. Suena bien,
      ¿verdad?
    </p>
    <p>
      En la terapia psicológica es muy importante la relación
      terapéuta-paciente; es decir, es importantisimo que nos caigamos bien,
      para que la terapia sea más efectiva.
    </p>
    <p>Se que suena increible... !pero es cierto! Te explico como funciona:</p>
  </div>
  <ul class='pl-[50%] w-full border border-red-500'>
    <li>Tendrá una duración de entre 30 y 40 minutos.</li>
    <li>
      Se hace por llamada telefónica o por videollamada. !No te tienes ni que
      mover de casa!
    </li>
    <li>
      El objetivo principal es que tengas la oportunidad de comentarme qué es lo
      que te preocupa.
    </li>
    <li>
      Además, te daré una orientación inicial sobre como trabajaremos sobre tu
      caso concreto.
    </li>
    <li>
      Por suspuesto, tendrás la oportunidad de resolver cualquier duda sobre el
      proceso terapeutico.
    </li>
    <li>
      Esta entrevista inicial gratuita no tiene ningún tipo de compromiso ni
      obligación de trabajo conmigo.
    </li>
    <li>
      Mi objetivo es que, si trabajamos juntos sea porque confias en mí como
      profesional.
    </li>
  </ul>
</main>
