---

---

<section
  id='interview'
  class='flex flex-col p-3 w-full items-end md:px-2 max-md:bg-salmon-light'
>
  <h2
    class='pb-5 text-center font-semibold text-2xl uppercase tracking-[0.25rem] text-blue-steel bg-salmon-light md:text-right'
  >
    Solicita tu entrevista gratuita
  </h2>
  <div
    class='w-full font-semibold flex flex-col text-white md:w-4/5 md:items-end'
  >
    <p class='text-sm bg-salmon-light md:w-[70%]'>
      Para mostrarte la confianza que tenemos en nuestro trabajo, nuestro
      servicio de terapia ofrece una sesión inicial gratuita. Suena bien,
      ¿verdad?
    </p>
    <p class='bg-salmon-light md:w-4/5'>
      En la terapia psicológica es muy importante la relación
      terapéuta-paciente; es decir, es importantisimo que nos caigamos bien,
      para que la terapia sea más efectiva.
    </p>
    <span class='text-2xl py-5 bg-salmon-light max-md:text-center md:w-[90%]'>
      Se que suena increible... <br class='md:hidden' />!pero es cierto!
      <br class='md:hidden' /> Te explico como
      <br class='hidden lg:block' />
      funciona:
    </span>
    <ul class='w-full pb-5 bg-salmon-light md:px-9'>
      <li>Tendrá una duración de entre 30 y 40 minutos.</li>
      <li>
        Se hace por llamada telefónica o por videollamada. !No te tienes ni que
        mover de casa!
      </li>
      <li>
        El objetivo principal es que tengas la oportunidad de comentarme qué es
        lo que te preocupa.
      </li>
      <li>
        Además, te daré una orientación inicial sobre como trabajaremos sobre tu
        caso concreto.
      </li>
      <li>
        Por suspuesto, tendrás la oportunidad de resolver cualquier duda sobre
        el proceso terapeutico.
      </li>
      <li>
        Esta entrevista inicial gratuita no tiene ningún tipo de compromiso ni
        obligación de trabajo conmigo.
      </li>
      <li>
        Mi objetivo es que, si trabajamos juntos sea porque confias en mí como
        profesional.
      </li>
    </ul>
  </div>
</section>

<style></style>
