---

---

<section id='prices' class='w-full p-3 py-14 md:px-5'>
  <h2
    class='text-8xl tracking-[0.8rem] pb-4 font-bold uppercase text-center text-golden [text-shadow:4px_4px_4px_var(--tw-shadow-color)] shadow-[rgba(0,0,0,0.43)]'
  >
    Tarifas
  </h2>
  <div class='text-[43px] text-white flex justify-center max-md:pb-5'>
    <ul class='bg-blue-steel text-center'>
      <li class='text-5xl font-extralight leading-loose'>
        Entrevista inicial gratuita
      </li>
      <li class='text-5xl font-extralight leading-loose'>1 sesión 70 €</li>
      <li class='text-5xl font-extralight leading-loose'>
        Bono de 2 sesiones 130 €
      </li>
      <li class='text-5xl font-extralight leading-loose'>
        Bono de 5 sesiones 300 €
      </li>
    </ul>
  </div>
</section>
