---

---

<section
  id='prices'
  class='w-full bg-[url("/assets/backgrounds/prices_background.svg")] md:pt-14 md:pb-96 md:px-5 md:bg-no-repeat md:bg-[50%_-850%] md:bg-[length:800px]'
>
  <h2
    class='text-8xl tracking-[0.8rem] font-bold uppercase text-center text-golden [text-shadow:4px_4px_4px_var(--tw-shadow-color)] shadow-[rgba(0,0,0,0.43)] md:pb-40'
  >
    Tarifas
  </h2>
  <div class='text-[43px] text-white flex justify-center max-md:pb-5'>
    <ul class='text-center'>
      <li class='text-5xl font-extralight leading-loose'>
        Entrevista inicial gratuita
      </li>
      <li class='text-5xl font-extralight leading-loose'>1 sesión 70 €</li>
      <li class='text-5xl font-extralight leading-loose'>
        Bono de 2 sesiones 130 €
      </li>
      <li class='text-5xl font-extralight leading-loose'>
        Bono de 5 sesiones 300 €
      </li>
    </ul>
  </div>
</section>
