---

---

<section id='prices' class='w-full p-3 md:px-2'>
  <h2
    class='text-5xl tracking-[0.8rem] pb-4 font-bold uppercase text-center text-golden [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-[rgba(97,130,159,1)] md:pl-8 md:text-left'
  >
    Tarifas
  </h2>
  <div class='text-xl text-white flex justify-center max-md:pb-5'>
    <div
      class='bg-blue-steel flex flex-col text-center justify-center rounded-full w-72 h-72 gap-4'
    >
      <span>Entrevista inicial gratuita</span>
      <span>1 sesión 70 €</span>
      <span>Bono de 2 sesiones 130 €</span>
      <span>Bono de 5 sesiones 300 €</span>
    </div>
  </div>
</section>
