---

---

<section id='prices' class='w-full'>
  <h2 class='text-5xl'>Tarifas</h2>
  <div>
    <span>Entrevista inicial gratuita</span>
    <span>1 sesión 70 €</span>
    <span>Bono de 2 sesiones 130 €</span>
    <span>Bono de 5 sesiones 300 €</span>
  </div>
</section>
