---

---

<section id='prices' class='w-full'>
  <h2
    class='text-5xl tracking-[0.8rem] pl-8 pb-4 font-bold uppercase text-golden [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-[rgba(97,130,159,1)]'
  >
    Tarifas
  </h2>
  <div class='text-xl'>
    <span>Entrevista inicial gratuita</span>
    <span>1 sesión 70 €</span>
    <span>Bono de 2 sesiones 130 €</span>
    <span>Bono de 5 sesiones 300 €</span>
  </div>
</section>
