---

---

<section id='sportpsycology' class='px-2 py-3 w-full'>
  <h2
    class='tracking-[0.35rem] pr-8 pb-4 font-semibold text-2xl uppercase text-[#f0bc68] [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-[rgba(0,0,0,0.43)]'
  >
    ¿Qué es la psicología deportiva?
  </h2>
  <div class='container w-full min-w-full'>
    <p class='first-text rounded-3xl py-5 px-7 bg-[#f0bc68]'>
      La psicología deportiva es la rama de la psicología que estudia el
      rendimiento deportivo y busca mejorarlo a través del entrenamiento en
      habilidades psicológicas esenciales para el deporte.
    </p>
    <p class='second-text rounded-3xl py-5 px-5'>
      En mi recorrido profesional he trabajado tanto con personas que hacen
      deporte por salud, con deportistas amateurs y con deportistas
      profesionales. Buscando siempre mejorar su rendimiento deportivo.
    </p>
  </div>
</section>

<style>
  .container {
    display: grid;
    grid-template-areas:
      'first first image'
      '. second second';
  }

  .first-text {
    grid-area: first;
  }

  .second-text {
    grid-area: second;
  }

  .image {
    grid-area: image;
  }
</style>
