---
import Divider from '../divider/Divider.astro';
---

<div class='text-golden'>
  <Divider />
</div>
<section
  id='sportpsycology'
  class='flex flex-col items-center p-3 py-40 w-full bg-golden md:px-7'
>
  <h2
    class='max-w-7xl tracking-ultra-wide pb-4 font-medium text-5xl text-center uppercase text-blue-steel [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-[rgba(97,130,159,0.43)]'
  >
    ¿Qué es la psicología deportiva?
  </h2>
  <div
    class='max-w-7xl w-full text-white text-center font-extralight text-3.5xl leading-loose pt-8 max-md:pb-5'
  >
    <p>
      La psicología deportiva es la rama de la psicología que <span
        class='font-semibold underline'>estudia el rendimiento deportivo</span
      > y busca <span class='font-semibold underline'>mejorarlo</span> a través del
      <span class='font-semibold underline'>entrenamiento</span> en
      <span class='font-semibold underline'>habilidades psicológicas</span> esenciales
      para el deporte.
    </p>
    <p class='pt-6'>
      En mi recorrido profesional <span class='font-semibold underline'
        >he trabajado</span
      > tanto con personas que hacen
      <span class='font-semibold underline'>deporte</span> por <span
        class='font-semibold underline'>salud</span
      >, con <span class='font-semibold underline'>deportistas amateurs</span> y
      con <span class='font-semibold underline'>deportistas profesionales</span
      >. Buscando <span class='font-semibold underline'
        >siempre mejorar su rendimiento deportivo</span
      >.
    </p>
  </div>
</section>
<div class='text-golden'>
  <Divider inverted/>
</div>
