---

---

<section id='sportpsycology' class='px-2 py-3 w-full bg-salmon'>
  <h2
    class='tracking-ultra-wide pl-8 pb-4 font-semibold text-3xl uppercase text-blue-steel [text-shadow:1px_1px_1px_var(--tw-shadow-color)] shadow-[rgb(97, 130, 159,0.43)]'
  >
    ¿Qué es la psicología deportiva?
  </h2>
  <div class='w-full min-w-full text-white font-semibold text-xl pl-6'>
    <p class='w-3/5'>
      La psicología deportiva es la rama de la psicología que estudia el
      rendimiento deportivo y busca mejorarlo a través del entrenamiento en
      habilidades psicológicas esenciales para el deporte.
    </p>
    <p class='w-4/5 pt-6'>
      En mi recorrido profesional he trabajado tanto con personas que hacen
      deporte por salud, con deportistas amateurs y con deportistas
      profesionales. Buscando siempre mejorar su rendimiento deportivo.
    </p>
  </div>
</section>
