---

---

<section id='work' class='px-2 py-3 w-full'>
  <h2>¿Qué podemos trabajar en terapia?</h2>
  <div>
    <span>
      Lo mejor de todo, si eres deportista, también podemos trabajar aspectos
      esenciales para tu rendimiento, como:
    </span>
    <ul>
      <li>Confianza</li>
      <li>Control de los nervios precompetitivos</li>
      <li>Planteamiento de objetivos</li>
    </ul>
  </div>
  <div>
    <span>El trabajo que podemos hacer en terapia es bastante amplio:</span>
    <ul>
      <li>Autoestima</li>
      <li>Duelo por una pérdida</li>
      <li>Fobias</li>
      <li>Ansiedad y los síntomas que la acompañan</li>
      <li>
        Depresión: bajo estado de ánimo, falta de motivación, desesperanza, etc.
      </li>
      <li>Gestión emocional</li>
    </ul>
  </div>
</section>
