---

---

<section id='work' class='px-2 py-3 w-full'>
  <h2
    class='tracking-ultra-wide pl-8 pb-4 font-bold text-3xl uppercase text-blue-steel [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-[rgba(97,130,159,0.43)]'
  >
    ¿Qué podemos trabajar en terapia?
  </h2>
  <div>
    <span>
      Lo mejor de todo, si eres deportista, también podemos trabajar aspectos
      esenciales para tu rendimiento, como:
    </span>
    <ul>
      <li>Confianza</li>
      <li>Control de los nervios precompetitivos</li>
      <li>Planteamiento de objetivos</li>
    </ul>
  </div>
  <div>
    <span>El trabajo que podemos hacer en terapia es bastante amplio:</span>
    <ul>
      <li>Autoestima</li>
      <li>Duelo por una pérdida</li>
      <li>Fobias</li>
      <li>Ansiedad y los síntomas que la acompañan</li>
      <li>
        Depresión: bajo estado de ánimo, falta de motivación, desesperanza, etc.
      </li>
      <li>Gestión emocional</li>
    </ul>
  </div>
</section>
