---

---

<section id='work' class='p-3 w-full max-md:bg-golden md:px-2'>
  <h2
    class='tracking-ultra-wide pb-4 font-bold text-3xl text-center uppercase text-blue-steel [text-shadow:2px_2px_2px_var(--tw-shadow-color)] shadow-[rgba(97,130,159,0.43)] md:pl-8 md:text-left'
  >
    ¿Qué podemos trabajar en terapia?
  </h2>
  <div
    class='flex text-white w-full justify-between flex-col-reverse max-md:gap-6 md:flex-row'
  >
    <div class='text-xl flex flex-col justify-end md:w-[30%] md:text-lg'>
      <span class='bg-golden'>
        Lo mejor de todo, si eres deportista, también podemos trabajar aspectos
        esenciales para tu rendimiento, como:
      </span>
      <ul class='pt-2 bg-golden max-md:pb-5 md:pt-8'>
        <li>Confianza</li>
        <li>Control de los nervios precompetitivos</li>
        <li>Planteamiento de objetivos</li>
      </ul>
    </div>
    <div class='bg-golden text-xl md:w-2/5 md:text-center'>
      <span>
        El trabajo que podemos hacer en terapia es bastante amplio. Te dejo con
        algunos ejemplos:
      </span>
      <ul class='pt-2 md:pt-8'>
        <li>Autoestima</li>
        <li>Duelo por una pérdida</li>
        <li>Fobias</li>
        <li>Ansiedad y los síntomas que la acompañan</li>
        <li>
          Depresión: bajo estado de ánimo, falta de motivación, desesperanza,
          etc.
        </li>
        <li>Gestión emocional</li>
      </ul>
    </div>
  </div>
</section>
