---

---

<section id='work' class='p-3 py-14 w-full flex flex-col items-center md:px-5'>
  <h2
    class='max-w-5.5xl tracking-ultra-wide pb-4 font-medium text-[50px] text-center uppercase text-blue-steel'
  >
    ¿Qué podemos trabajar en terapia?
  </h2>
  <div class='text-center text-salmon-light font-extralight w-full max-w-5.5xl'>
    <div class='text-2xl leading-loose'>
      <span class='text-3xl leading-[4rem]'>
        El trabajo que podemos hacer en terapia es bastante amplio. Te dejo con
        algunos ejemplos:
      </span>
      <ul class='text-1.5xl italic'>
        <li class='font-semibold underline'>Autoestima</li>
        <li>
          <span class='font-semibold underline'>Duelo</span> por una pérdida
        </li>
        <li class='font-semibold underline'>Fobias</li>
        <li>
          <span class='font-semibold underline'>Ansiedad</span> y los síntomas que
          la acompañan
        </li>
        <li>
          <span class='font-semibold underline'>Depresión</span>: bajo estado de
          ánimo, falta de motivación, desesperanza, etc.
        </li>
        <li class='font-semibold underline'>Gestión emocional</li>
      </ul>
    </div>
    <div class='text-2xl leading-loose px-32 pt-5'>
      <span class='text-3xl leading-[4rem]'>
        Lo <span class='font-semibold underline'>mejor</span> de todo, <span
          class='font-semibold underline'>si ademas eres deportista</span
        >, también podemos <span class='font-semibold underline'>trabajar</span>
        aspectos <span class='font-semibold underline'>esenciales</span> para tu
        rendimiento, como:
      </span>
      <ul class='text-2xl gap-6 flex flex-col pt-6 italic'>
        <li class='font-semibold underline'>Confianza</li>
        <li>
          <span class='font-semibold underline'>Control</span> de los <span
            class='font-semibold underline'>nervios</span
          > precompetitivos
        </li>
        <li>
          Planteamiento de <span class='font-semibold underline'>objetivos</span
          >
        </li>
        <li class='font-semibold underline'>Motivación</li>
        <li class='not-italic'>Y mucho más!</li>
      </ul>
    </div>
  </div>
</section>
