---
import AboutMe from '../components/sections/AboutMe.astro';
import FAQ from '../components/sections/FAQ.astro';
import Header from '../components/Header.astro';
import Help from '../components/sections/Help.astro';
import Interview from '../components/sections/Interview.astro';
import Navbar from '../components/Navbar.astro';
import Prices from '../components/sections/Prices.astro';
import Reviews from '../components/sections/Reviews.astro';
import SportPsycology from '../components/sections/SportPsycology.astro';
import Work from '../components/sections/Work.astro';
---

<html lang='es' style='scroll-behavior: smooth;'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Carlos Martín - Pagina personal' />
    <title>Carlos Martín</title>
  </head>
  <body class='bg-beige'>
    <Navbar />
    <Header />
    <main>
      <Interview />
      <Help />
      <SportPsycology />
      <Work />
      <AboutMe />
      <FAQ />
      <Reviews />
      <Prices />
    </main>
  </body>
</html>
