---

---

<footer class='flex py-14 px-5 w-full'>
  <div>
    <span>Legales:</span>
    <ul>
      <li>Aviso legal</li>
      <li>Politica de cookies</li>
      <li>Politica de privacidad</li>
    </ul>
  </div>
  <div>
    <span>Redes sociales y contacto:</span>
    <ul>
      <li>WhatsApp</li>
      <li><a href='#'>Instagram</a></li>
      <li><a href='#'>Email</a></li>
    </ul>
  </div>
</footer>
