---
import brainLogo from '../assets/cerebro_2.svg';
import signature from '../assets/carlos_martin_signature_2.svg';
import { Image } from 'astro:assets';
---

<header class='pt-14 w-full max-w-full md:max-[1305px]:pt-28'>
  <!-- <div class='relative border border-green-500'>
    <div class='top-0 w-full'>
      <Fragment set:html={brainLogo} class:list={['w-full']} />
    </div>
    <div class='absolute top-0 w-full'>
      <Fragment set:html={signature} />
    </div>
  </div>
  <h1>Psicología para la salud mental y el rendimiento deportivo</h1> -->
  <div class="w-full flex flex-col items-center border border-red-500">
    <Image
      src={brainLogo}
      height='600'
      width='1200'
      alt='Cerebro'
      class='border border-blue-500'
    />

    <Image
      src={signature}
      height='600'
      width='1200'
      alt='Carlos Martin'
      class='border border-green-500'
    />
    <h1 class='text-3xl uppercase border border-yellow-500'>
      Psicología para la salud mental y el rendimiento deportivo
    </h1>
  </div>
</header>
