---
const links = [
  {
    title: 'About me',
    section: '#aboutme',
  },
  {
    title: 'FAQ',
    section: '#faq',
  },
  {
    title: 'Help',
    section: '#help',
  },
];
---

<div class='nav h-14 w-full bg-slate-800'>
  <div class='nav-header inline'>
    <div class='inline-block text-2xl text-white p-3'>JoGeek</div>
  </div>

  <button
    id='nav-check'
    class='inline-block w-14 h-14 p-3 absolute right-0 top-0 md:hidden'
  >
    <span class='block w-6 h-3 border-t-2 border-white'></span>
    <span class='block w-6 h-3 border-t-2 border-white'></span>
    <span class='block w-6 h-3 border-t-2 border-white'></span>
  </button>

  <div
    class='nav-links block bg-slate-900 absolute h-0 top-14 left-0 text-lg float-right transition-all ease-in duration-300 md:inline md:static max-md:w-full max-md:overflow-y-hidden'
  >
    {
      links.map((data) => (
        <a
          class='block text-white py-3 px-2 md:inline-block max-md:w-full'
          href={data.section}
        >
          {data.title}
        </a>
      ))
    }
  </div>
</div>

<style>
  .nav > .nav-links {
    /* display: inline; */
    /* float: right; */
    /* font-size: 18px; */
  }

  .nav > .nav-links > a {
    /* display: inline-block; */
    /* padding: 13px 10px 13px 10px; */
    /* text-decoration: none; */
    /* color: #efefef; */
  }

  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* TODO: Move to tailwind */
  .nav button#nav-check:not(:focus) ~ .nav-links {
    height: 0px;
  }

  /* TODO: Move to tailwind */
  .nav button#nav-check:focus ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  @media (max-width: 600px) {
  }
</style>
