---

---

<div class='nav h-14 w-full'>
  <!-- TODO: Try with focus -->
  <input type='checkbox' id='nav-check' class='hidden' checked/>
  <div class='nav-header inline'>
    <div class='inline-block text-2xl text-white p-3'>JoGeek</div>
  </div>

  <div class='inline-block absolute right-0 top-0 md:hidden'>
    <label for='nav-check' class='inline-block w-14 h-14 p-3'>
      <span class='block w-6 h-3 border-t-2 border-white'></span>
      <span class='block w-6 h-3 border-t-2 border-white'></span>
      <span class='block w-6 h-3 border-t-2 border-white'></span>
    </label>
  </div>

  <div
    class='nav-links block absolute md:inline md:static'
  >
    <a href='#aboutme'>About me</a>
    <a href='http://stackoverflow.com/users/4084003/' target='_blank'
      >Stackoverflow</a
    >
    <a href='https://in.linkedin.com/in/jonesvinothjoseph' target='_blank'
      >LinkedIn</a
    >
    <a href='https://codepen.io/jo_Geek/' target='_blank'>Codepen</a>
    <a href='https://jsfiddle.net/user/jo_Geek/' target='_blank'>JsFiddle</a>
  </div>
</div>

<style>
  .nav {
    background-color: #4d4d4d;
  }

  .nav > .nav-links {
    /* display: inline; */
    float: right;
    font-size: 18px;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }

  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 600px) {
    .nav > .nav-links {
      /* position: absolute; */
      /* display: block; */
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    //TODO: Refactor
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
</style>
