---
const links = [
  {
    title: 'Solicita tu entrevista gratuita',
    section: '#interview',
  },
  {
    title: '¿Cómo puedo ayudarte?',
    section: '#help',
  },
  {
    title: '¿Qué se puede trabajar en terapia?',
    section: '#work',
  },
  {
    title: 'Conóceme',
    section: '#aboutme',
  },
  {
    title: 'Tarifas',
    section: '#prices',
  },
  {
    title: 'Reseñas',
    section: '#reviews',
  },
  {
    title: 'Preguntas frecuentes',
    section: '#faq',
  },
  {
    title: 'Contacto',
    section: '#contact',
  },
];
---

<div class='nav h-14 w-full bg-slate-800 fixed md:max-[1305px]:h-28' tabindex="0">
  <!--<div class='nav-header inline'>
    <div class='inline-block text-2xl text-white p-3'>Carlos Martín</div>
  </div>-->

  <button
    id='nav-check'
    class='inline-block w-14 h-14 p-3 absolute right-0 top-0 md:hidden'
  >
    <span class='sr-only'>Abrir menu</span>
    <svg
      class='w-7 h-7 text-white'
      aria-hidden='true'
      xmlns='http://www.w3.org/2000/svg'
      fill='none'
      viewBox='0 0 17 14'
    >
      <path
        stroke='currentColor'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M1 1h15M1 7h15M1 13h15'></path>
    </svg>
  </button>

  <div
    class='nav-links block bg-slate-900 absolute h-0 top-14 left-0 text-lg float-right transition-all ease-in duration-300 md:inline md:static md:text-right max-md:w-full max-md:overflow-y-hidden'
  >
    {
      links.map((data) => (
        <a
          class='block text-white py-3 px-2 md:inline-block max-md:w-full hover:bg-opacity-30 hover:bg-black'
          href={data.section}
        >
          {data.title}
        </a>
      ))
    }
  </div>
</div>

<style>
  @media (max-width: 768px) {
    /* TODO: Move to tailwind */
    .nav button#nav-check:not(:focus) ~ .nav-links {
      height: 0px;
    }

    /* TODO: Move to tailwind */
    .nav button#nav-check:focus ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
</style>
